@model ParkyWeb.Models.User

@{
    ViewData["Title"] = "Login";
}

<div class="card">
    <div class="row p-3">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="padding-top:8%; padding-bottom: 15%;">
            <form asp-action="Login" method="post">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="@Url.Content("~/images/homeLogo.png")" height="100"/>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12 text-center">
                        <input class="form-control" asp-for="Username" type="text" placeholder="Username"/>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12 text-center">
                        <input class="form-control" asp-for="Password" type="password" placeholder="Password"/>
                    </div>
                </div>
                <div class="row mt-4 mb-4">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-block btn-success" type="submit" value="Submit">Login</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

